@import url("https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@1,700&family=Gentium+Plus:ital@1&family=Merriweather:ital,wght@1,300&family=Raleway:ital,wght@0,400;1,100;1,200&display=swap");

.main {
  width: 80%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}
.greet-main {
  width: 90%;
  align-items: center;
  justify-self: center;
  margin: 0px auto;
  margin-top: 2rem;
}

.greeting-main {
  display: flex;
}

.subTitle {
  color: white !important;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 0.9;
  margin-bottom: 30px;
}
.button-greeting-div {
  display: flex;
  margin-top: 20px;
}

.greeting-text {
  font-size: 20px;
  color: white !important;
}

.greeting-text-p {
  font-size: 10px;
}

.greeting-image-div > img {
  max-width: 90%;
  margin-left: 10%;
  height: auto;
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }
  .greeting-text {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: block;
  }
}

@media (max-width: 320px) {
  .main {
    width: auto;
  }
}

/* Button */
.main-button {
  background-color:  rgb(106, 187, 235);;
  border: solid 1px  rgb(106, 187, 235);;
  color: white;
  font-weight: 700;
  width: max-content;
  padding: 13px 22px;
  margin-right: 50px;
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
.main-button:hover {
  background-color:  rgb(106, 187, 235);;
  color: white;
  transition: all 0.3s ease 0s;
  transform: translateY(-3px);
}
.project-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.project-button > .main-button {
  margin-right: 0 !important;
}

/* Media Query */
@media (max-width: 768px) {
  .main-button {
    font-size: 0.938rem;
    padding: 12px 18px;
    margin-right: 0px;
  }
}
@media (max-width: 320px) {
  .main-button {
    font-size: 0.75rem;
  }
}