
.flex-ss {
    background-color: black;
    display: flex;
    margin: 20px;
    padding: 50px;
   padding-top: 0px;
}

.flex-childs {
    flex: 1;
    padding-top: 20px;
    width: 50%;
}  

.flex-childs:first-child{
    margin-right:20px; 

} 

.img-fluid{
    max-height: 400px;

}
@media screen and (max-width: 768px) {
    .flex-ss{
        display: block;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    /* .flex-childs:first-child{
        width: auto;
         
    }  */
    .flex-childs{
      width: 90%;
      margin:auto;
      margin-bottom: 20px;
    }
    
.flex-childs:first-childs {
    margin-right:none; 
   
} 
}