.conte {
  /* margin: 30px; */
  margin-bottom: 0px;
  background: black;
}

.mid {
  display: flex;
  height: fit-content;
  background:none;
}
.profile-card *,
.profile-card *:before,
.profile-card *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.profile-card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: auto;
  margin: 30px auto;
  padding: 2px;
  width: 320px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  
}

.profile-card header {
  background: center no-repeat url("../../../../public/pics/Coder.png");
  border: 2px  rgb(97, 191, 228) solid;
  padding: 1px;
  height: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}


.profile-card header h1 {
  color: white;
  font-family: 'Moon Dance', cursive;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 5px;
  text-align: center;
  line-height: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.profile-card header h2 {
  /* color: black; */
  font-family: 'Moon Dance', cursive;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 4px;
  margin: 0 0 5px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.profile-card .profile-bio {
  padding: 20px;
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.3s 0.25s;
  -moz-transition: all 0.3s 0.25s;
  -o-transition: all 0.3s 0.25s;
  transition: all 0.3s 0.25s;
}

.profile-card .profile-bio p {
  color: #999;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  font-family: 'Moon Dance', cursive;
}

.profile-card:hover .profile-bio {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .mid {
    display: block;
  }
  .profile-card {
    margin: 20px auto;
  }
}

@media screen and (max-width: 768px) {
  .conte {
    margin: 20px;
  }
  .mid {
    display: block;
  }
  .profile-card {
    width: 80%;
    margin: 20px auto;
  }
  .profile-card header {
    height: 150px;
  }
  .profile-card header h1 {
    font-size: 24px;
  }
  .profile-card header h2 {
    font-size: 14px;
    letter-spacing: 2px;
  }
  .profile-card .profile-bio {
    padding: 10px;
  }
  .profile-card .profile-bio p {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .mid {
    display: block;
    margin-top: 10px; /* Adjust top margin */
  }
  .profile-card {
    width: 80%;
    margin: 10px auto; /* Adjust margin */
  }
}