@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@1,700&family=Gentium+Plus:ital@1&family=Merriweather:ital,wght@1,300&family=Raleway:ital,wght@0,400;1,100;1,200&display=swap');
.top-section{
    /* margin-top:5rem;
    padding-left: 9rem;
    padding-right: 9rem; */
    display: flex;
    align-items: center;
		padding: 4rem;
		margin: 5rem;
		margin-top: 0;
	

}
.left{
    padding-right: 2rem; 
}
.about__subheading{
    font-size: 2rem;
    padding-bottom: 2rem;
}
.about__heading{
    font-size: 3rem;
    padding-bottom: 2rem;
}
.right{
    width: 20rem;
    height: 25rem;
    border: 2px solid white;
    padding-right: 2rem;
    padding-top: 2rem;
    border-left: none;
    border-bottom: none;
}
.right img{
    height: 25rem;
    width: 20rem;
}
#container{
	box-shadow: 0 5px 10px 1px rgb(61, 60, 60);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 2rem;
	margin-left: 5rem;
	height: 250px;
	width: 700px;
	display: flex;
    /* margin-right: 2rem;
	 */
}


.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	width: 70%;

}

 .product-details h1{
	font-family: 'Bebas Neue', cursive;
	display: inline-block;
	position: relative;
	font-size: 30px;
	color: #344055;
	margin: 0;
	
}

 .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Bree Serif', serif;
	display: inline-block;

	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}



	


.about2{
	display: inline;
}


 .product-details > p {
font-family: 'EB Garamond', serif;
	text-align: center;
	font-size: 18px;
	color: #7d7d7d;
	
}


.product-image {
	position: relative;
	height: 100%;
	width: 30%;
	clip-path: circle(40% at 50% 50%);
}

#container img {width: 100%;height: 100%;}


.container2{
	margin-top:2rem;
	margin-bottom: 2rem;
	box-shadow: 0 5px 10px 1px rgb(61, 60, 60);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	max-width: 100%;
	margin-left: 36rem;
	margin-top: 2rem;
	width: 700px;
	height: 250px;
}



.containerss{
	display: flex;
	margin: auto;
	justify-content: center;
	flex-direction: column;
	position: relative;
	width: 800px;
	height: 500px;
	background: transparent;
	margin-top: 80px ;
	word-break: break-all;
	border: 1px solid rgba(0, 0, 0, 0.274);
	
  }
  
  .bloc-tabs {
	display: flex;
  }
  .tabs {
	color:white;
    margin-left: 20px;
	padding: 20px;
	text-align: center;
	width: 50%;
	background-color: #222;
	cursor: pointer;
	border-bottom: 1px solid rgba(0, 0, 0, 0.274);
	box-sizing: content-box;
	position: relative;
	outline: none;
  }
  .tabs:not(:last-child){
	border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
	font-size: 20px;
	color: rgb(88, 147, 241);
	background: white;
	border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
	content: "";
	display: block;
	position: absolute;
	top: -5px;
	left: 50%;
	transform: translateX(-50%);
	/* width: calc(100% + 2px);
	height: 2px; */
	/* background: rgb(88, 147, 241); */
  }
  
  .content-image img{
	width: 150px;
	height: 150px;
	clip-path: circle(40% at 50% 50%);
}
  
  button {
	border: none;
	
  }
  .content-tabs {
	flex-grow : 1;
  }
  .content {
	background: transparent;
	padding: 20px;
	width: 100%;
	height: 100%;
	display: none;
  }
  .content h2 {
	padding: 0px 0 5px 0px;
  }
  .content hr {
	width: 100px;
	height: 2px;
	background: #222;
	margin-bottom: 5px;
  }
  .content p {
	margin-top:40px;
	margin-right: 150px;
	width: 100%;
	height: 100%;
  }
  .active-content {
	display: block;
	
  }
  .headinpic{
	  display: flex;
  } 

/* 
.containerss{
	display: flex;
	margin: 5rem;
	justify-content: center;
	flex-direction: column;
	position: relative;
	width: 80%;
	height: 500px;
	background: transparent;
	margin-top: 80px ;
	word-break: break-all;
	border: 1px solid rgba(0, 0, 0, 0.274);
	
  }
  
  .bloc-tabs {
	display: flex;
  }
  .tabs {
	color:white;
	text-align: center;
	width: 50%;
	background-color: #222;
	cursor: pointer;
	border-bottom: 1px solid rgba(0, 0, 0, 0.274);
	box-sizing: content-box;
	position: relative;
	outline: none;
  }
  .tabs:not(:last-child){
	border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
	font-size: 20px;
	color: rgb(88, 147, 241);
	background: white;
	border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
	content: "";
	display: block;
	position: absolute;
	top: -5px;
	left: 50%;
	transform: translateX(-50%);

  }
  
  .content-image img{
	width: 150px;
	height: 150px;
	clip-path: circle(40% at 50% 50%);
}
  
  button {
	border: none;
	
  }
  .content-tabs {
	flex-grow : 1;
  }
  .content {
	background: transparent;
	padding: 20px;
	width: 100%;
	height: 100%;
	display: none;
  }
  .content h2 {
	padding: 0px 0 5px 0px;
  }
  .content hr {
	width: 100px;
	height: 2px;
	background: #222;
	margin-bottom: 5px;
  }
  .content p {
	margin-top:40px;
	margin-right: 150px;
	width: 100%;
	height: 100%;
  }
  .active-content {
	display: block;
	
  }
  .headinpic{
	  display: flex;
  } */
  @media screen and (max-width: 768px) {
	.top-section{
		display: block;
		padding: 0;
		margin: 4rem;
	
	}
	 
	.about__subheading{
		font-size: 1.5rem;
		padding-bottom: 1.5rem;
	}
	.about__heading{
		font-size: 2rem;
		padding-bottom: 1.5rem;
	}
   .about-info{
	font-size: 1rem;
   }
   .right{
	width: 50%;
	margin: 1rem;
	padding-bottom: 30px;
	height: 200px;
   }
    .right img{
		width: 100%;
		height: 200px;
	}
	.containerss{
		display: flex;
		margin: auto;
		justify-content: center;
		flex-direction: column;
		position: relative;
		width: 80%;
		height: 500px;
		background: transparent;
		/* margin-top: 80px ; */
		word-break: break-all;
		border: 1px solid rgba(0, 0, 0, 0.274);
		
	  }
	  
	  .bloc-tabs {
		display: flex;
		width: 300px;
		height: 60px;
	  }
	  .tabs {
		color:white;
		/* margin-left: 20px;
		padding: 20px; */
		text-align: center;
		background-color: #222;
		cursor: pointer;
		border-bottom: 1px solid rgba(0, 0, 0, 0.274);
		box-sizing: content-box;
		position: relative;
		outline: none;
	  }
	  .tabs:not(:last-child){
		border-right: 1px solid rgba(0, 0, 0, 0.274);
	  }
	  
	  .active-tabs  {
		font-size: 15px;
		color: rgb(88, 147, 241);
		background: white;
		border-bottom: 1px solid transparent;
	  }
	  
	  .active-tabs::before {
		content: "";
		display: block;
		position: absolute;
		top: -5px;
		left: 50%;
		transform: translateX(-50%);
		/* width: calc(100% + 2px);
		height: 2px; */
		/* background: rgb(88, 147, 241); */
	  }
	  
	  .content-image img{
		width: 150px;
		height: 150px;
		clip-path: circle(40% at 50% 50%);
	}
	  
	  button {
		border: none;
		
	  }
	  .content-tabs {
		flex-grow : 1;
	  }
	  .content {
		background: transparent;
		padding: 20px;
		width: 100%;
		height: 100%;
		display: none;
	  }
	  .content h2 {
		padding: 0px 0 5px 0px;
	  }
	  .content hr {
		width: 100px;
		height: 2px;
		background: #222;
		margin-bottom: 5px;
	  }
	  .content p {
		margin-top:40px;
		margin-right: 15px;
		width: 100%;
		height: 100%;
	  }
	  .active-content {
		display: block;
		
	  }
	  .headinpic{
		  display: flex;
	  }
  }
  /* } 
  @media screen and (max-width: 1290px) {
	

.containerss{
	display: flex;
	margin: 5rem;
	justify-content: center;
	flex-direction: column;
	position: relative;
	width: 80%;
	height: 500px;
	background: transparent;
	margin-top: 80px ;
	word-break: break-all;
	border: 1px solid rgba(0, 0, 0, 0.274);
	
  }
  
  .bloc-tabs {
	display: flex;
  }
  .tabs {
	color:white;
	text-align: center;
	width: 50%;
	background-color: #222;
	cursor: pointer;
	border-bottom: 1px solid rgba(0, 0, 0, 0.274);
	box-sizing: content-box;
	position: relative;
	outline: none;
  }
  .tabs:not(:last-child){
	border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
	font-size: 20px;
	color: rgb(88, 147, 241);
	background: white;
	border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
	content: "";
	display: block;
	position: absolute;
	top: -5px;
	left: 50%;
	transform: translateX(-50%);
	
  }
  
  .content-image img{
	width: 150px;
	height: 150px;
	clip-path: circle(40% at 50% 50%);
}
  
  button {
	border: none;
	
  }
  .content-tabs {
	flex-grow : 1;
  }
  .content {
	background: transparent;
	padding: 20px;
	width: 100%;
	height: 100%;
	display: none;
  }
  .content h2 {
	padding: 0px 0 5px 0px;
  }
  .content hr {
	width: 100px;
	height: 2px;
	background: #222;
	margin-bottom: 5px;
  }
  .content p {
	margin-top:40px;
	margin-right: 150px;
	width: 100%;
	height: 100%;
  }
  .active-content {
	display: block;
	
  }
  .headinpic{
	  display: flex;
  }
	
  } */